.main {
    font-family: HTFDidotLight;
    
}

.class {
    color: aqua;
}

#newdiv {
    cursor: pointer;
}

.navbar{
    font-family: HTFDidot;
    font-weight: 600;
    font-size: 20px;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 1366px;
    min-width: 980px;
}

.navbar img {
    float: left;
    cursor: pointer;
    height: 102px;
    width: 192.5px;
}

.navbar-ul {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(20, 20, 20);
    top: 0;
    width: 100%;

}

.navbar-li {
    height: 50px;
    float: left;
}

.first-li {
    margin-left: 200px;
}

.navbar-a {
    min-height: 50px;
    color: white;
    text-align: center;
    padding: 50px 70px;
    text-decoration: none;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.navbar-li .navbar-a:hover {
    background-color: #111;
}

body {
    text-align: center;
    background-color: #333;
}

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
    margin-top: 100px;
    margin-left: 75px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
      
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }



@media screen and (max-width: 756px) {}



@font-face {
    font-family: HTFDidot;
    src: url("./assets/fonts/HTF_Didot/Didot\ HTF\ B06\ Bold.otf") format("opentype");
}

@font-face {
    font-family: HTFDidotMed;
    src: url("./assets/fonts/HTF_Didot/Didot\ HTF\ M06\ Medium.otf") format("opentype");
}

@font-face {
    font-family: HTFDidotLig;
    src: url("./assets/fonts/HTF_Didot/Didot\ HTF\ L06\ Light.otf") format("opentype");
}