body {
    text-align: center;
    background-color: #333;
    margin: 0;
    padding: 0;
}

.main {
    font-family: HTFDidotLight;
}

.class {
    color: aqua;
}

#newdiv {
    cursor: pointer;
}

.navbar {
    font-family: BackIssue;
    font-weight: 600;
    font-size: 20px;
}

.navbar-img {
    padding-left: 0;
    float: left;
    cursor: pointer;
    min-height: 134px;
    max-width: 200px;
}

.navbar-ul {
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(63, 63, 63);
    margin-top: 0;
    width: 100%;
    padding-left: 0;
}

.first-li {
    margin-left: 350px;
}

.navbar-li {
    cursor: pointer;
    height: 52px;
    float: left;
    padding: 50px 40px 32px;
}

.navbar-a {
    height: 300px;
    color: white;
    text-decoration: none;
    transform: translateY(-50%);
    margin: 50px;
}

.navbar-li:hover {
    background-color: #111;
}


.card-column {
    float: left;
    width: 20%;
    padding: 0 10px;
    margin-top: 100px;
    margin-left: 100px;
}

.row {
    padding: auto 150px;
    width: 100%
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .card-column {
        width: 33%;
        display: block;
        margin-bottom: 20px;
    }
}

.card {
    font-family: BackIssue;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    color: aliceblue;
    min-height: 400px;
    cursor: pointer;
    border-radius: 7.5%;
    background-color: rgb(110, 4, 4);
    transition: 0.3s;
}

.card img {
    min-height: 200px;
    margin: 30px auto;
}

.header-1 {
    font-family: BackIssueBold;
    margin-top: 75px;
    color: aliceblue;
}
@font-face {
    font-family: HTFDidot;
    src: url("./assets/fonts/HTF_Didot/Didot\ HTF\ B06\ Bold.otf") format("opentype");
}

@font-face {
    font-family: HTFDidotMed;
    src: url("./assets/fonts/HTF_Didot/Didot\ HTF\ M06\ Medium.otf") format("opentype");
}

@font-face {
    font-family: HTFDidotLight;
    src: url("./assets/fonts/HTF_Didot/Didot\ HTF\ L06\ Light.otf") format("opentype");
}

@font-face {
    font-family: BackIssue;
    src: url("./assets/fonts/Back_Issues/back-issues-bb.regular.ttf") format("truetype");
}

@font-face {
    font-family: BackIssueBold;
    src: url("./assets/fonts/Back_Issues/back-issues-bb.bold-italic.ttf") format("truetype");
}

@font-face {
    font-family: BackIssueItalic;
    src: url("./assets/fonts/Back_Issues/back-issues-bb.italic.ttf") format("truetype");
}